footer {
  margin-top: 10px;
  overflow-x: hidden;
  font-family: Montserrat;
  .strip1 {
    background-color: #fffee9;
    color: black;
    h5 {
      font-weight: 500;
    }
    a,
    i {
      text-decoration: none;
      color: black;
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
  .strip2 {
    color: rgb(0, 0, 0);
    background-color: #dddddd;
    p {
      font-weight: 500;
    }
    a {
      color: #000;
      font-weight: 500;
    }
  }
  .strip3 {
    font-weight: 500;
    background-color: #000;
    color: #f6f6f6;
  }

  a {
    color: #f6f6f6;
    font-weight: 500;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
