@import 'footer';
@import 'navbar';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fafafa;
}

.scrolled {
  transition: all 0.2s ease;
  background-color: #fff !important;
  ul li a {
    color: #3a3a3a !important;
  }
  .ham-menu {
    color: black !important;
  }
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}
.scrolled #navbarSupportedContent {
  background: none !important;
}
main {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  height: 100vh;
  display: flex;
  overflow: hidden;
  .hero-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 88px;
    line-height: 132px;
    color: white;
    text-align: center;
  }
  .main-content {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    p {
      text-align: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      color: #fff;
      font-size: 24px;
      line-height: 49px;
    }
  }
  .hero-img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  img{
    object-fit: cover;
  }
}
.sec1 {
  position: relative;
  height: 100vh;
  .sec1-text {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 68px;
    padding: 4rem 10rem;
  }
  .arrow {
    position: absolute;
    cursor: pointer;
    width: 128px;
    height: 34px;
    left: 162px;
    top: 320px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    transition: all 0.5s ease;
  }

  .sec1-img {
    opacity: 1;
    position: absolute;
    width: 1100px;
    height: 490px;
    right: 0;
    top: 200px;
    z-index: -1;
  }
}
.sec2 {
  position: relative;
  height: 100vh;
  .sec2-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 68px;
    padding: 4rem 10rem;
  }
  .arrow {
    position: absolute;
    cursor: pointer;
    width: 128px;
    height: 34px;
    left: 162px;
    top: 320px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    transition: all 0.5s ease;
  }
  .sec2-img {
    position: absolute;
    width: 1100px;
    height: 490px;
    right: 0;
    top: 200px;
    z-index: -1;
  }
}
.sec3 {
  position: relative;
  height: 100vh;
  .sec3-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 68px;
    line-height: 100px;
    padding: 4rem 10rem;
  }
  .arrow {
    position: absolute;
    cursor: pointer;
    width: 128px;
    height: 34px;
    left: 162px;
    top: 320px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    transition: all 0.5s ease;
  }
  .sec3-img {
    position: absolute;
    width: 1100px;
    height: 490px;
    right: 0;
    top: 200px;
    z-index: -1;
  }
}

//!********  ====== MEDIA QUERIES ======= *****!!

@media (min-width: 320px) {
  main {
    height: 100vh;
    .main-content {
      .hero-text {
        font-size: 48px;
        line-height: 80px;
      }
      p {
        font-size: 16px !important;
      }
    }
  }
  .sec1 {
    height: 80vh;
    .sec1-text {
      text-align: center;
      font-size: 32px;
      padding: 2rem 3rem;
    }
    .arrow {
      left: 50%;
      transform: translateX(-50%);
      top: 120px;
    }
    .sec1-img {
      width: 100%;
      height: 50vh;
      padding: 1rem 2rem;
    }
  }
  .sec2 {
    height: 80vh;
    .sec2-text {
      text-align: center;
      font-size: 32px;
      padding: 4rem 3rem;
    }
    .arrow {
      left: 50%;
      transform: translateX(-50%);
      top: 120px;
    }
    .sec2-img {
      width: 100%;
      height: 50vh;
      padding: 1rem 2rem;
    }
  }
  .sec3 {
    height: 80vh;
    .sec3-text {
      text-align: center;
      font-size: 32px;
      padding: 2rem 3rem;
    }
    .arrow {
      left: 50%;
      transform: translateX(-50%);
      top: 120px;
    }
    .sec3-img {
      width: 100%;
      height: 50vh;
      padding: 1rem 2rem;
    }
  }
}
@media (min-width: 576px) {
  main {
    height: 100vh;
    .main-content {
      .hero-text {
        font-size: 64px;
        line-height: 80px;
      }
      p {
        font-size: 16px !important;
      }
    }
  }
  .sec1 {
    height: 80vh;
    .sec1-text {
      text-align: center;
      font-size: 32px;
      padding: 2rem 2.5rem;
    }
    .arrow {
      left: 50%;
      transform: translateX(-50%);
      top: 22%;
    }
    .sec1-img {
      padding: 1rem 2rem;
      height: 50vh;
      width: 100%;
    }
  }
  .sec2 {
    height: 80vh;
    .sec2-text {
      text-align: center;
      font-size: 32px;
      padding: 2rem 2.5rem;
    }
    .arrow {
      left: 50%;
      transform: translateX(-50%);
      top: 22%;
    }
    .sec2-img {
      padding: 1rem 2rem;
      height: 50vh;
      width: 100%;
    }
  }
  .sec3 {
    height: 80vh;
    .sec3-text {
      text-align: center;
      font-size: 32px;
      padding: 2rem 2.5rem;
    }
    .arrow {
      left: 50%;
      transform: translateX(-50%);
      top: 22%;
    }
    .sec3-img {
      padding: 1rem 2rem;
      height: 50vh;
      width: 100%;
    }
  }
}
@media (min-width: 768px) {
  main {
    height: 100vh;
    .main-content {
      .hero-text {
        font-size: 72px;
      }
      p {
        font-size: 16px !important;
      }
    }
  }
  .sec1 {
    height: 80vh;
    .sec1-text {
      text-align: center;
      font-size: 48px;
      padding: 2rem 5rem;
    }
    .arrow {
      left: 50%;
      transform: translateX(-50%);
      top: 120px;
    }
    .sec1-img {
      width: 100%;
      height: 50vh;
    }
  }
  .sec2 {
    height: 80vh;
    .sec2-text {
      text-align: center;
      font-size: 48px;
      padding: 2rem 5rem;
    }
    .arrow {
      left: 50%;
      transform: translateX(-50%);
      top: 120px;
    }
    .sec2-img {
      width: 100%;
      height: 50vh;
    }
  }
  .sec3 {
    height: 80vh;
    .sec3-text {
      text-align: center;
      font-size: 48px;
      padding: 2rem 5rem;
    }
    .arrow {
      left: 50%;
      transform: translateX(-50%);
      top: 120px;
    }
    .sec3-img {
      width: 100%;
      height: 50vh;
    }
  }
}

@media (min-width: 992px) {
  main {
    height: 100vh;
  }

  .sec1 {
    position: relative;
    height: 95vh;
    .sec1-text {
      text-align: left;
      position: relative;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 68px;
      line-height: 100px;
      padding: 4rem 5rem;
    }
    .arrow {
      position: absolute;
      cursor: pointer;
      width: 128px;
      height: 34px;
      left: 162px;
      top: 180px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      transition: all 0.5s ease;
    }

    .sec1-img {
      opacity: 1;
      position: absolute;
      width: 70%;
      height: 60vh;
      right: 0;
      top: 200px;
      z-index: -1;
    }
  }
  .sec2 {
    position: relative;
    height: 95vh;
    .sec2-text {
      text-align: left;
      position: relative;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 68px;
      line-height: 100px;
      padding: 4rem 5rem;
    }
    .arrow {
      position: absolute;
      cursor: pointer;
      width: 128px;
      height: 34px;
      left: 162px;
      top: 180px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      transition: all 0.5s ease;
    }

    .sec2-img {
      opacity: 1;
      position: absolute;
      width: 70%;
      height: 60vh;
      right: 0;
      top: 200px;
      z-index: -1;
    }
  }
  .sec3 {
    position: relative;
    height: 95vh;
    .sec3-text {
      text-align: left;
      position: relative;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 68px;
      line-height: 100px;
      padding: 4rem 5rem;
    }
    .arrow {
      position: absolute;
      cursor: pointer;
      width: 128px;
      height: 34px;
      left: 162px;
      top: 180px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      transition: all 0.5s ease;
    }

    .sec3-img {
      opacity: 1;
      position: absolute;
      width: 70%;
      height: 60vh;
      right: 0;
      top: 200px;
      z-index: -1;
    }
  }
}
