@import 'footer';
@import 'navbar';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; scroll-behavior: smooth;
}
body {
  background: #fafafa;
}

.scrolled {
  transition: all 0.2s ease;
  background-color: #fff !important;
  ul li a {
    color: #3a3a3a !important;
  }
  .ham-menu {
    color: black !important;
  }
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}
.scrolled #navbarSupportedContent {
  background: none !important;
}
main {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  height: 100vh;
  display: flex;
  overflow: hidden;
  .hero-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 88px;
    line-height: 132px;
    color: white;
    text-align: center;
  }
  .main-content {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    p {
      text-align: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      color: #fff;
      font-size: 24px;
      line-height: 49px;
    }
  }
  .hero-img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  img{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    object-fit: cover;
  }
}
.random{
  h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
  }
  p{
    font-family: Montserrat;
    font-weight: 450;
    line-height: 151%;
  }
  .arrow {
    cursor: pointer;
    transform: translateX(0%);
    z-index: 1;
    font-family: Montserrat;
    padding: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    width: 200px;
    line-height: 17px;
    transition: all 0.2s ease-out;
    img {
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
    &::before {
      content: '';
      position: absolute;
      background-color: #3a3a3a;
      top: 0;
      left: 0;
      z-index: -1;
      bottom: 0;
      right: 0;
      transform: scaleX(0);
      transition: transform 200ms ease-in-out;
      transform-origin: left;
      border-radius: 7px;
    }
    &:hover {
      color: white;
      img {
        transform: translateX(350%);
      }
    }
  }
  .arrow:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .arrow:focus::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}.row {
  .left {
    background: #dddddd;

    .arrow {
      cursor: pointer;
      transform: translateX(0%);
      z-index: 1;
      padding: 1rem;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      width: 200px;
      line-height: 17px;
      transition: all 0.2s ease-out;
      img {
        transition: all 0.2s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
      &::before {
        content: '';
        position: absolute;
        background-color: #3a3a3a;
        top: 0;
        left: 0;
        z-index: -1;
        bottom: 0;
        right: 0;
        transform: scaleX(0);
        transition: transform 200ms ease-in-out;
        transform-origin: left;
        border-radius: 7px;
      }
      &:hover {
        color: white;
        img {
          transform: translateX(350%);
        }
      }
    }
    .arrow:hover::before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }

    .arrow:focus::before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  .right-img{
  
    width: 100%;
  }
}
.room .d1-img {
  position: relative;
  top: -71px;
  right: -35px;
  float: right;
}

.room {
  margin-top: 200px;
  background: rgb(245, 241, 241);
  box-shadow: 0px 4px 17px rgba(238, 231, 231, 0.05);
}

.room_content {
  padding: 25px;
}
@media only screen and (max-width: 768px) {
 h1{
   text-align: center;
 }
  .room .d1-img {
    position: static;
    height: 100% !important;
  }

}

@media only screen and (max-width: 992px) {
 
  .room .d1-img{
    height: 70% ;
  }
}

//!********  ====== MEDIA QUERIES ======= *****!!

@media (min-width: 320px) {
  main {
    height: 100vh;
    .main-content {
      .hero-text {
        font-size: 48px;
        line-height: 80px;
      }
      p {
        font-size: 16px !important;
      }
    }
  }
 
}
@media (min-width: 576px) {
  main {
    height: 100vh;
    .main-content {
      .hero-text {
        font-size: 64px;
        line-height: 80px;
      }
      p {
        font-size: 16px !important;
      }
    }
  }
  
}
@media (min-width: 768px) {
  main {
    height: 100vh;
    .main-content {
      .hero-text {
        font-size: 88px;
      }
      p {
        font-size: 16px !important;
      }
    }
  }
  
}

@media (min-width: 992px) {
  main {
    height: 100vh;
  }

  
}
