@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fafafa;
}
nav {
  position: absolute;
  .navbar-brand {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
  }
  ul li a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #3a3a3a;
  }
  .nav-cta {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #3a3a3a;
    background: #fffef2;
    transition: all 0.3s ease;
  }
  .nav-cta:hover {
    transform: scale(1.1);
    background: #fffbd4;
  }
}

.scrolled {
  transition: all 0.2s ease;
  background-color: #fff !important;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}
main {
  position: relative;
  height: 95vh;
  display: flex;
  overflow: hidden;
  .hero-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 88px;
    line-height: 132px;
    color: white;
    text-align: center;
  }
  .main-content {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    p {
      text-align: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      color: #fff;
      font-size: 24px;
      line-height: 49px;
    }
  }
  .hero-img {
    height: 100%;
    width: 100%;
    transform: scale(1);
    position: absolute;
    top: 0;
    z-index: -1;
  }
}

section {
  .row1 {
    display: flex;
    justify-content: center;
    height: 95vh;
    .col1 {
      .desc {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 55%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        /* identical to box height */

        color: #3a3a3a;
      }
      .arrow {
        position: absolute;
        cursor: pointer;
        left: 50%;
        transform: translateX(-50%);
        top: 65%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
      }
    }
    .col2 {
      margin-top: 20vh;
      .desc {
        position: absolute;
        // width: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 70%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        /* identical to box height */

        color: #3a3a3a;
      }
      .arrow {
        position: absolute;
        cursor: pointer;
        left: 50%;
        transform: translateX(-50%);
        top: 83%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
      }
    }

    .r1-img {
      height: 50vh;
    }
  }
  .row2 {
    display: flex;
    justify-content: center;
    height: 95vh;
    .col1 {
      .desc {
        position: absolute;
        // width: 214px;
        height: 59px;
        left: 50%;
        transform: translateX(-50%);
        top: 55%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        /* identical to box height */

        color: #3a3a3a;
      }
      .arrow {
        position: absolute;
        cursor: pointer;
        left: 50%;
        transform: translateX(-50%);
        top: 65%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
      }
    }
    .col2 {
      margin-top: 20vh;
      .desc {
        position: absolute;
        top: 70%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        /* identical to box height */

        color: #3a3a3a;
      }
      .arrow {
        position: absolute;
        cursor: pointer;
        left: 50%;
        transform: translateX(-50%);
        top: 83%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
      }
    }

    .r1-img {
      height: 50vh;
    }
  }
}

// @media (min-width: 320px) {
//   main {
//     height: 50vh;
//     .main-content {
//       .hero-text {
//         font-size: 64px;
//         line-height: 80px;
//       }
//       p {
//         font-size: 16px !important;
//       }
//     }
//   }
// }

// @media (min-width: 576px) {
//   main {
//     height: 60vh;
//     .main-content {
//       .hero-text {
//         font-size: 62px;
//         line-height: 80px;
//       }
//       p {
//         font-size: 16px !important;
//       }
//     }
//   }
//   section {
//     .card1 {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       height: 80vh;
//       padding: 3rem;

//       .arrow {
//         position: absolute;
//         cursor: pointer;
//         left: 162px;
//         top: 89%;
//         left: 50%;
//         transform: translateX(-50%);
//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 17px;
//         transition: all 0.5s ease;
//       }
//     }
//     .card2 {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       height: 80vh;
//       padding: 3rem;

//       .arrow {
//         position: absolute;
//         cursor: pointer;
//         left: 162px;
//         top: 89%;
//         left: 50%;
//         transform: translateX(-50%);
//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 17px;
//         transition: all 0.5s ease;
//       }
//     }
//     .card3 {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       height: 80vh;
//       padding: 3rem;

//       .arrow {
//         position: absolute;
//         cursor: pointer;
//         left: 162px;
//         top: 89%;
//         left: 50%;
//         transform: translateX(-50%);
//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 17px;
//         transition: all 0.5s ease;
//       }
//     }
//     .card4 {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       height: 80vh;
//       padding: 3rem;

//       .arrow {
//         position: absolute;
//         cursor: pointer;
//         left: 162px;
//         top: 89%;
//         left: 50%;
//         transform: translateX(-50%);
//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 17px;
//         transition: all 0.5s ease;
//       }
//     }
//   }
// }
// @media (min-width: 768px) {
//   main {
//     height: 80vh;
//     .main-content {
//       .hero-text {
//         font-size: 72px;
//       }
//       p {
//         font-size: 16px !important;
//       }
//     }
//   }
//   section {
//     .card1 {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       height: 80vh;
//       width: 50%;
//       padding: 3rem;
//       .card-img {
//         img {
//           height: 40vh;
//         }
//       }
//       .arrow {
//         position: absolute;
//         cursor: pointer;
//         left: 162px;
//         top: 89%;
//         left: 50%;
//         transform: translateX(-50%);
//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 17px;
//         transition: all 0.5s ease;
//       }
//     }
//     .card2 {
//       position: relative;
//       display: flex;
//       float: right;
//       width: 50%;
//       flex-direction: column;
//       height: 80vh;
//       padding: 3rem;
//       .card-img {
//         img {
//           height: 40vh;
//         }
//       }
//       .arrow {
//         position: absolute;
//         cursor: pointer;
//         left: 162px;
//         top: 89%;
//         left: 50%;
//         transform: translateX(-50%);
//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 17px;
//         transition: all 0.5s ease;
//       }
//     }
//     .card3 {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       height: 80vh;
//       padding: 3rem;
//       .card-img {
//         display: flex;
//         justify-content: center;
//         img {
//           height: 60vh;
//           width: 80%;
//         }
//       }
//       .arrow {
//         position: absolute;
//         cursor: pointer;
//         left: 162px;
//         top: 89%;
//         left: 50%;
//         transform: translateX(-50%);
//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 17px;
//         transition: all 0.5s ease;
//       }
//     }
//     .card4 {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       height: 80vh;
//       padding: 3rem;
//       .card-img {
//         display: flex;
//         justify-content: center;
//         img {
//           height: 60vh;
//           width: 80%;
//         }
//       }
//       .arrow {
//         position: absolute;
//         cursor: pointer;
//         left: 162px;
//         top: 89%;
//         left: 50%;
//         transform: translateX(-50%);
//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 17px;
//         transition: all 0.5s ease;
//       }
//     }
//   }
// }

// @media (min-width: 992px) {
//   main {
//     height: 90vh;
//   }
//   section {
//     .card1 {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       height: 80vh;
//       padding: 3rem;
//       .card-img {
//         display: flex;
//         justify-content: center;
//         img {
//           height: 30vh;
//           width: 80%;
//         }
//       }
//       .arrow {
//         position: absolute;
//         cursor: pointer;
//         left: 162px;
//         top: 89%;
//         left: 50%;
//         transform: translateX(-50%);
//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 17px;
//         transition: all 0.5s ease;
//       }
//     }
//     .card2 {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       height: 80vh;
//       padding: 3rem;
//       .card-img {
//         display: flex;
//         justify-content: center;
//         img {
//           height: 60vh;
//           width: 80%;
//         }
//       }
//       .arrow {
//         position: absolute;
//         cursor: pointer;
//         left: 162px;
//         top: 89%;
//         left: 50%;
//         transform: translateX(-50%);
//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 17px;
//         transition: all 0.5s ease;
//       }
//     }
//     .card3 {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       height: 80vh;
//       padding: 3rem;
//       .card-img {
//         display: flex;
//         justify-content: center;
//         img {
//           height: 60vh;
//           width: 80%;
//         }
//       }
//       .arrow {
//         position: absolute;
//         cursor: pointer;
//         left: 162px;
//         top: 89%;
//         left: 50%;
//         transform: translateX(-50%);
//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 17px;
//         transition: all 0.5s ease;
//       }
//     }
//     .card4 {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       height: 80vh;
//       padding: 3rem;
//       .card-img {
//         display: flex;
//         justify-content: center;
//         img {
//           height: 60vh;
//           width: 80%;
//         }
//       }
//       .arrow {
//         position: absolute;
//         cursor: pointer;
//         left: 162px;
//         top: 89%;
//         left: 50%;
//         transform: translateX(-50%);
//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 17px;
//         transition: all 0.5s ease;
//       }
//     }
//   }
// }
